{
  "sources": [
    {
      "name": "APIcall",
      "comment": "bot just called a api"
    },
      {
      "name": "EmailMsg",
      "comment": "email content.."
    },
      {
      "name": "GET",
      "comment": "Server request GET"
    },
      {
      "name": "POST",
      "comment": "Server request POST"
    }
  ],

  "sinks": [
    {
      "name": "DBinput",
      "comment": "db_set() detected"
    },
      {
      "name": "EmailSent",
      "comment": "Email sending.."
    },
      {
      "name": "Logging",
      "comment": "logfile input.."
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "latent db injection:",
      "code": 5001,
      "sources": [ "APIcall" ],
      "sinks": [ "DBinput" ],
      "message_format": "Data from slack has been input to the db"
    },
    {
      "name": "Email",
      "code": 5002,
      "sources": [ "EmailMsg" ],
      "sinks": [ "EmailSent" ],
      "message_format": "A Email has been sent..."
    },
    {
      "name": "Email_api",
      "code": 5003,
      "sources": [ "APIcall" ],
      "sinks": [ "EmailSent" ],
      "message_format": "Data from slack has been sent via Email..."
    },
    {
      "name": "Log_file",
      "code": 5004,
      "sources": [ "APIcall" ],
      "sinks": [ "Logging" ],
      "message_format": "Data from slack has been logged..."
    },
    {
      "name": "Server",
      "code": 5005,
      "sources": [ "POST" ],
      "sinks": [ "DBinput" ],
      "message_format": "Data from POST has been sent to db..."
    },
    {
      "name": "Server",
      "code": 5005,
      "sources": [ "GET" ],
      "sinks": [ "DBinput" ],
      "message_format": "Data from GET has been sent to db..."
    }

  ]
}
